<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @book.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<h2>Categories</h2>
<ul>
  <% @book.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
