<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      Hello <%= current_user.name %>!
      <%= link_to "Logout", :logout %>
    <% else %>
      <%= link_to "Login", :login %>
    <% end %>
  </header>
  <div id="menu">
    <%= link_to "Authors", :authors %>
    <%= link_to "Books", :books %>
    <%= link_to "Borrowings", :borrowings %>
    <%= link_to "Categories", :categories %>
    <%= link_to "Users", :users %>
  </div>
<%= yield %>
</body>
</html>
